accelerate
aenum
altair
annotated-types
anyio
appnope
asttokens
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
charset-normalizer
click
comm
dbf
debugpy
decorator
distro
dnspython
duckdb
et-xmlfile
exceptiongroup
executing
feedparser
filelock
fsspec
gitdb
gitpython
groq
h11
httpcore
httpx
hugchat
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
jedi
jinja2
jiter
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
lxml
markdown-it-py
markupsafe
matplotlib-inline
mdurl
mpmath
narwhals
nest-asyncio
networkx
numpy
ollama
openai
openpyxl
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pydantic
pydantic-core
pydeck
pygments
pymongo
pypdf
python-dateutil
python-dotenv
pytz
pyyaml
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
setuptools
sgmllib3k
simpledbf
six
smmap
sniffio
soupsieve
stack-data
streamlit
sympy
tabulate
tenacity
tokenizers
toml
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typing-extensions
tzdata
urllib3
uv
validators
watchdog
wcwidth
zipp
